.navbar {
    padding: 1rem;
    background-color: #080808;
}

.nav-item a {
    color: white;
    font-size: 20px;
}

.nav-item a:hover {
    color: rgb(199, 199, 199);
}

.icon1 {
    height: 40px;
}

.separador {
    border: 1px solid rgb(173, 171, 171);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Notable', sans-serif;
    color: #f8f3f3;
}

.hero {
    background-color: #080808;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    width: 100%;
    height: 90vh;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
}

.proyecto {
    display: block;
}

.titulo img {
    margin-top: 100px;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    margin-left: 23%;
}

.contenedor i {
    color: #f5f6f7;
    font-size: 40px;
    padding: 10px;
}

.contenedor a {
    color: #1b1b1b;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Trade Winds', cursive;
    float: right;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b1b;
}

.sobre-mi {
    height: 400px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}


.sobre-mi .contenedor p{
    font-size: 18px;
    font-family: Arial, sans-serif;
    white-space: pre;
    overflow: hidden;
    line-height: 1.5;
    animation: typing 4s steps(200, end), blink-caret 0.75s step-end infinite;
    width: 100%;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #bbb8b8;
    }
  }

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-texto {
    font-size: 1.2rem;
}

.experiencia {
    padding: 0px 40px 60px 40px;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px o;
}

.badge {
    margin: 5px;
}

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;

}

.proyecto-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {

    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: all 0.2s ease;
    transform: translate(-50%, -50%);
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;

}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
}

.overlay i {
    color: black;
    font-size: 50px;
    margin: 10px;
}

.cert {
    height: 300px;
    width: 400px;
    margin-top: 20px;
}

footer {
    background-color: #0a0a0a;
    color: #f5f6f7;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .hero-principal h1 {
        font-size: 35px;
        margin-top: 10px;
    }

    .hero-principal h2 {
        font-size: 20px;
        margin-top: 100px;
    }

    .navbar {
        background-color: #626364;
    }

    .titulo img{
        height: 300px;
        width: 350px;
        border-radius: 50;
        display: inline;
        margin-left: 10px;
     }

    .overlay {

        opacity: 4;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transition: all 0.2s ease;
        transform: translate(-50%, -50%);
        color: #070707;
        
    }
    
.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    opacity: 0.3;
}
.cert {
    height: 300px;
    width: 400px;
    margin-top: 20px;
    opacity: 0.1;
   
    
    
}
.iconos-contenedor1 a i{
    border: 1px solid #070707;
}
.sobre-mi .contenedor{
    text-align: center;
}
.sobre-mi .contenedor p{
    font-size: 15px;
    font-family: Arial, sans-serif;
    white-space: pre;
    overflow: hidden;
    line-height: 1.5;
    animation: typing 4s steps(200, end), blink-caret 0.75s step-end infinite;
    width: 100%;
    text-align: center;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #bbb8b8;
    }
  }







}



@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }


}

@keyframes animacionTexto {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-principal h2 {
    animation: animacionTexto 3s ease-in-out infinite;
}